* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #dee9ef;
  font-family: "Pretendard", sans-serif;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 20px;
}

.sidebar,
.main {
  background: white;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.search {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  font-size: 14px;
}

.thumbnail img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.category {
  font-size: 14px;
  line-height: 1.9;
}

.header {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  margin-bottom: 20px;
}

.header a {
  font-size: 14px;
  background: #f3f3f3;
  padding: 6px 14px;
  border-radius: 20px;
  text-decoration: none;
  color: #333;
}

.content-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.gallery-grid {
  column-count: 3; /* 갤러리 원하는 열 개수 */
  column-gap: 18px; /* 사진 사이 띄우는 간격 사이즈 */
  width: 100%;
  padding: 20px 0;
}

.gallery-grid img {
  width: 100%;
  display: block;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.09);
  break-inside: avoid;
  opacity: 0;
  transform: translateY(30px) scale(0.97);
  transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1),
    transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: opacity, transform;
}

.gallery-grid img.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.accordion-button {
  width: 100%;
  text-align: left;
  background: none !important;
  border: none;
  padding: 8px 14px;
  font-size: 15px;
  cursor: pointer;
  margin: 8px 0 0 0;
  border-radius: 6px;
  transition: background 0.2s;
  position: relative;
  z-index: 2;
}
.accordion-button:hover {
  background: #f6b8c9;
}
.accordion-panel {
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  animation: fadein 0.3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.accordion-item.active .accordion-panel {
  display: flex;
}
.accordion-panel img {
  width: 100%;
  border-radius: 7px;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 320px;
  margin-top: -24px;
  z-index: 1;
  background: none !important;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  border-radius: 16px;
  display: block;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none; 
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 2;
  width: 36px;
  height: 36px;
  font-size: 28px; 
  color: #fff; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-prev {
  left: 10px;
}
.slider-next {
  right: 10px;
}
